:root {
  /* Font Family */
  --ff_raleway: 'Raleway', sans-serif;
  --ff_opensans: 'Open Sans', sans-serif;

  /* Font Weight */
  --fw_400: 400;
  --fw_700: 700;

  /* Font Size */
  --fs__800: 1.5rem;
  /* 24px */
  --fs__700: 1.125rem;
  /* 18px */
  --fs__600: 1rem;
  /* 16px */
  --fs__500: 0.875rem;
  /* 14px */
  --fs__400: 0.75rem;
  /* 12px */
  --fs__300: 0.625rem;
  /* 10px */
  --fs__200: 0.5625rem;
  /* 9px */
  --fs__100: 0.375rem;
  /* 6px */

  /* Line Height */
  --lh_800: 2.25rem;
  /* 36px */
  --lh_700: 1.5rem;
  /* 24px */
  --lh_600: 1.3125rem;
  /* 21px */
  --lh_500: 1.13125rem;
  /* 18.1px */
  --lh_400: 0.73755rem;
  /* 11.8px */

  /* Colors */
  --clr_primary_darkblue: hsl(243, 87%, 12%);
  /* 070439 */
  --clr_primary_desaturatedblue: hsl(238, 22%, 44%);
  /* 585989 */
  --clr_accent_brightblue: hsl(224, 93%, 58%);
  /* 3065f8 */
  --clr_accent_cyan: hsl(170, 45%, 43%);
  /* 3c9f8f */
  --clr_neutral_grayishblue: hsl(240, 80%, 98%);
  /* f6f6fe */
  --clr_neutral_lightgray: hsl(0, 0%, 75%);
  /* bfbfbf */
  --clr-neutral_white: hsl(0, 0%, 100%);
  /* ffffff */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--clr-neutral_white);
  min-width: 100%;
}

.main-header {
  margin-block-start: 1.5rem;
  padding-inline: 1.5rem;
}

.main-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo {
  width: 80px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: var(--clr_primary_darkblue);
  font-family: var(--ff_raleway);
  font-size: var(--fs__400);
  font-weight: var(--fw_400);
  margin-inline-start: 1.5rem;
  padding-block: .3em;
}


.hero-section {
  margin-block-start: 6.125rem;
  padding-inline: 1.75rem;
}

.hero-title {
  font-family: var(--ff_raleway);
  font-size: var(--fs__800);
  font-weight: var(--fw_700);
  line-height: var(--lh_800);
  text-align: center;
  color: var(--clr_primary_darkblue);
  margin-block-start: 2.5rem;
}

.hero-text {
  font-family: var(--ff_opensans);
  font-weight: var(--fw_400);
  font-size: var(--fs__500);
  line-height: var(--lh_600);
  text-align: center;
  color: var(--clr_primary_darkblue);
  padding-inline: .3em;
  margin-block-start: 1.5rem;
}

.hero-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 0.5rem;
  margin-block-start: 2rem;
}

.hero-section input[type="email"] {
  position: relative;
  font-family: var(--ff_raleway);
  font-size: var(--fs__400);
  font-weight: var(--fw_400);
  line-height: 1;
  color: var(--clr_primary_darkblue);
  padding-inline: 1.3125rem;
  padding-block: 0.75rem;
  border: 0.039375rem solid var(--clr_primary_darkblue);
  border-radius: 0.195625rem;
  outline: none;
}

.hero-section input[type="email"]:invalid {
  border-color: hsl(343, 84%, 61%);
}

.hero-input::placeholder {
  color: var(--clr_neutral_lightgray);
}

.hero-btn {
  display: inline-block;
  font-family: var(--ff_raleway);
  font-size: var(--fs__500);
  font-weight: var(--fw_700);
  line-height: 1;
  text-align: center;
  color: var(--clr-neutral_white);
  background-color: var(--clr_accent_brightblue);
  padding-block: 0.75rem;
  border: none;
  border-radius: 0.195625rem;
  cursor: pointer;
  box-shadow: 0.125rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.1593);
  transition: background 200ms;
}

.hero-btn:hover,
.hero-btn:focus-visible {
  background-color: hsl(221, 100%, 71%);
}

.productive-section {
  margin-block-start: 5.625rem;
  display: grid;
  justify-items: center;
  background-image: url('assets/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: 500% 100%;
  background-position: center;
  padding-block-end: 5.125rem;
}

.productive-img {
  padding-inline: 1.75rem;
  padding-block-start: 5.8125rem;
}

.productive-subtitle {
  font-family: var(--ff_raleway);
  font-size: var(--fs__600);
  font-weight: var(--fw_700);
  line-height: var(--lh_700);
  text-align: center;
  color: var(--clr_primary_darkblue);
  margin-block-start: 5.4375rem;
}

.productive-text {
  font-family: var(--ff_opensans);
  font-size: var(--fs__500);
  font-weight: var(--fw_400);
  line-height: var(--lh_600);
  text-align: center;
  color: hsl(244, 14%, 43%);
  padding-inline-start: 1.25rem;
  padding-inline-end: 2.1875rem;
}

.productive-text:nth-of-type(1) {
  margin-block-start: 1.5rem;
}

.productive-text:nth-of-type(2) {
  margin-block-start: 1rem;
}

.productive-link {
  text-decoration: none;
  font-family: var(--ff_opensans);
  font-size: var(--fs__400);
  font-weight: var(--fw_400);
  color: var(--clr_accent_cyan);
  margin-block-start: 2.25rem;
  position: relative;
  transition: color 200ms;
}

.productive-link:hover,
.productive-link:focus-visible {
  color: hsl(170, 63%, 66%);
}

.productive-link-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.productive-link-wrapper::before {
  position: absolute;
  content: '';
  bottom: -6px;
  width: 100%;
  height: 1px;
  background-color: var(--clr_accent_cyan);
}

.productive-link:hover .productive-link-wrapper::before,
.productive-link:focus-visible .productive-link-wrapper::before {
  background-color: hsl(170, 63%, 66%);
}

.productive-link .arrow-right {
  width: 12px;
}

.productive-link:hover .arrow-right .fill-color,
.productive-link:focus-visible .arrow-right .fill-color {
  fill: hsl(170, 63%, 66%);
}

.testimonial-card {
  max-width: 280px;
  padding-inline-start: 1.625rem;
  padding-inline-end: 0.796875rem;
  padding-block-start: 2.40875rem;
  padding-block-end: 1.203125rem;
  margin-block-start: 2.9375rem;
  border-radius: 0.245625rem;
  background-color: var(--clr-neutral_white);
  box-shadow: 0 0 0.5rem 0.25rem hsla(0, 0%, 22%, 0.0459);
}

.testimonial-text {
  font-family: var(--ff_opensans);
  font-size: var(--fs__300);
  font-weight: var(--fw_400);
  line-height: var(--lh_500);
  letter-spacing: 0.02375rem;
  color: var(--clr_primary_darkblue);
  position: relative;
}

.testimonial-text::before {
  position: absolute;
  top: -1.0625rem;
  width: 14px;
  content: url('assets/icon-quotes.svg');
}

.testimonial-person {
  display: flex;
  align-items: start;
  gap: 0.465625rem;
  margin-block-start: 1.0925rem;
}

.testimonial-pic {
  width: 24px;
  border-radius: 50%;
}

.person-name {
  font-family: var(--ff_opensans);
  font-size: var(--fs__200);
  font-weight: var(--fw_700);
  letter-spacing: 0.028125rem;
  color: var(--clr_primary_darkblue);
}

.person-description {
  font-family: var(--ff_opensans);
  font-weight: var(--fw_400);
  font-size: var(--fs__100);
  line-height: var(--lh_400);
  letter-spacing: 0.01875rem;
  color: var(--clr_primary_darkblue);
  margin-block-start: 0.1125rem;
}

.cta-section {
  background-color: var(--clr_primary_desaturatedblue);
  color: var(--clr-neutral_white);
  padding-block-start: 3.375rem;
  padding-block-end: 4.4375rem;
  padding-inline: 3rem;
  text-align: center;
}

.cta-subtitle {
  font-family: var(--ff_raleway);
  font-weight: var(--fw_700);
  font-size: var(--fs__700);
  line-height: var(--lh_700);
}

.cta-text {
  font-family: var(--ff_opensans);
  font-size: var(--fs__500);
  font-weight: var(--fw_400);
  line-height: var(--lh_600);
  margin-block-start: 1rem;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-start: 1.5rem;
}

.cta-form input[type="email"] {
  font-family: var(--ff_raleway);
  font-size: var(--fs__300);
  padding-block: 0.6875rem;
  padding-inline: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.091875rem;
  color: var(--clr_primary_darkblue);
  box-shadow: 0.0625rem 0.0625rem 0.1875rem hsla(243,
      87%, 12%, 0.157);
  outline: none;
}

.cta-form input[type="email"]::placeholder {
  color: hsl(0, 0%, 75%);
}

.cta-form input[type="email"]:invalid {
  border: 0.039375rem solid hsl(343, 84%, 61%);
}

.cta-btn {
  font-family: var(--ff_raleway);
  font-size: var(--fs__300);
  font-weight: var(--fw_700);
  padding-block: 0.6875rem;
  cursor: pointer;
  display: inline-block;
  color: var(--clr-neutral_white);
  background-color: var(--clr_accent_brightblue);
  border: none;
  border-radius: 0.091875rem;
  transition: background 200ms;
}

.cta-btn:hover,
.cta-btn:focus-visible {
  background-color: hsl(221, 100%, 71%);
}

.main-footer {
  color: var(--clr-neutral_white);
  background-color: var(--clr_primary_darkblue);
  padding-inline: 2.4375rem;
  padding-block-start: 4.0625rem;
  padding-block-end: 2.625rem;
  display: grid;
}

.footer-logo {
  width: 105px;
}

.contact {
  margin-block-start: 2rem;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-wrapper:nth-of-type(2) {
  margin-block-start: 1rem;
}

.contact-icon {
  width: 24px;
}

.contact-text {
  font-family: var(--ff_opensans);
  font-size: var(--fs__600);
  font-weight: var(--fw_400);
  line-height: var(--lh_700);
}

.footer-nav-links:nth-child(1) {
  margin-block-start: 2rem;
}

.footer-nav-links:nth-child(1)>*:not(li:last-of-type) {
  margin-block-end: 1rem;
}

.footer-nav-links:nth-child(2) {
  margin-block-start: 2rem;
}

.footer-nav-links:nth-child(2)>*:not(li:last-of-type) {
  margin-block-end: 1rem;
}

.footer-nav-links a {
  text-decoration: none;
  font-family: var(--ff_opensans);
  font-size: var(--fs__600);
  font-weight: var(--fw_400);
  color: var(--clr-neutral_white);
  transition: color 200ms;
}

.footer-nav-links a:hover,
.footer-nav-links a:focus-visible {
  color: hsl(221, 100%, 71%);
}

.social-links {
  display: flex;
  gap: 0.615rem;
  align-items: center;
  justify-content: center;
  margin-block-start: 2rem;
}

.social-link:hover path,
.social-link:focus-visible path {
  fill: hsl(221, 100%, 71%);
}

.social-icon {
  width: 20px;
}

@media screen and (min-width: 1439px) {

  .main-header {
    margin-block-start: 4.0625rem;
    padding-inline: 5rem;
  }

  .main-header .logo {
    width: 166px;
  }

  .nav-links a {
    font-size: 1rem;
    margin-inline-start: 3.625rem;
  }

  .hero-section {
    padding-inline: 5rem;
    margin-block-start: 5.375rem;
    display: grid;
    grid-template-columns: 1.36fr 1fr;
    gap: 3.125rem;
  }

  .grid-item-2 {
    width: 640px;
  }

  .hero-img {
    object-fit: cover;
    object-position: center;
  }

  .grid-item-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .hero-title {
    font-size: 2.5rem;
    line-height: 3.75rem;
    text-align: left;
    margin-block-start: 4.8125rem;
  }

  .hero-text {
    font-size: 1.0625rem;
    line-height: 1.5rem;
    letter-spacing: 0.033125rem;
    text-align: left;
    margin-block-start: 1.9375rem;
    padding-inline-start: 0;
  }

  .hero-section form {
    flex-direction: row;
    padding-inline: 0;
    position: relative;
  }
  
  .hero-section input[type="email"] {
    font-size: 0.875rem;
    padding-inline-end: 10.75rem;
    padding-block: 0.9375rem;
  }

  .error-message {
    position: absolute;
    font-size: 0.75rem;
    font-family: var(--ff_opensans);
    color: hsl(343, 84%, 61%);
    top: 55px;
  }

  .hero-btn {
    font-size: 0.875rem;
    padding-inline: 3.8125rem;
    padding-block: 0.9375rem;
  }

  .productive-section {
    background-image: url('assets/bg-curve-desktop.svg');
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    padding-inline: 5rem;
    padding-block-end: 6.6875rem;
  }

  .productive-img {
    width: 542px;
    grid-column: 2;
    padding-block-start: 0;
    margin-block-start: 12.625rem;
  }

  .productive-section .wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  .productive-subtitle {
    font-size: 2.5rem;
    text-align: left;
    margin-block-start: 11.125rem;
    line-height: auto;
  }

  .productive-text {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    padding-inline-start: 0;
    padding-inline-end: 8.25rem;
  }

  .productive-text:nth-of-type(1) {
    margin-block-start: 2.375rem;
  }

  .productive-text:nth-of-type(2) {
    margin-block-start: 1rem;
  }

  .productive-link {
    display: inline-flex;
    align-items: center;
    margin-block-start: 0.9375rem;
    font-size: 1rem;
    line-height: 1;
  }

  .productive-link .arrow-right {
    width: 1rem;
  }

  .productive-link-wrapper::before {
    bottom: -4px;
  }

  .testimonial-card {
    max-width: initial;
    width: 356px;
    margin-block-start: 2.8125rem;
    padding-inline: 2.125rem;
    padding-block-start: 3.0625rem;
    padding-block-end: 1.625rem;
  }

  .testimonial-text {
    font-size: 0.8125rem;
    line-height: 1.4375rem;
  }

  .testimonial-pic {
    width: 32px;
  }

  .person-name {
    font-size: 0.6875rem;
  }

  .person-description {
    font-size: 0.5rem;
    line-height: 0.9375rem;
  }

  .testimonial-text::before {
    top: -1.400rem;
    width: 14px;
    content: url('assets/icon-quotes.svg');
  }

  .cta-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14.8125rem;
    padding-inline-start: 5rem;
    padding-inline-end: 7.5rem;
    padding-block-start: 6.25rem;
    padding-block-end: 5.3125rem;
  }

  .cta-subtitle {
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
  }

  .cta-text {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-block-start: 1.125rem;
  }

  .cta-form {
    gap: 1rem;
    margin-block-start: 0.75rem;
    position: relative;
  }

  .cta-form .error-message {
    position: absolute;
    color: var(--clr-neutral_white);
    font-size: 0.75rem;
    top: 50px;
  }

  .cta-form input[type="email"] {
    font-size: 0.75rem;
    padding-block: 1rem;
    padding-inline: 1.375rem;
    box-shadow: 0.125rem 0.1875rem 0.375rem hsla(243, 87%, 12%, 0.157);
    border-radius: 0.195625rem;
  }

  .cta-btn {
    font-size: 0.875rem;
    display: inline-block;
    align-self: start;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    box-shadow: 0.125rem 0.1875rem 0.375rem hsla(243, 87%, 12%, 0.157);
    border-radius: 0.195625rem;

  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 5rem;
    padding-inline-end: 16.3125rem;
    padding-block-end: 5.75rem;
    padding-block-end: 5.375rem;
  }

  .contact {
    margin-block-start: 2.25rem;
  }

  .main-footer-nav {
    display: flex;
    gap: 12.5rem;
    margin-block-start: 1.875rem;
  }

  .footer-nav-links {
    margin-block-start: 0;
  }

  .social-nav {
    margin-block-start: 1.875rem;
    align-self: initial;
  }
}